<template name="dukEdit">
  <h2>Edit duk</h2>
  <!-- {{> quickForm id="fields4" schema="DukSchema" fields="name,subdomain,pathname,code,inputPorts"}} -->

  {{#autoForm collection="Duks" doc=this id="dukEdit" type="method" meteormethod="saveDuk"}}
    <fieldset>
      {{> afQuickField name='_id' type="hidden" label=false}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='pathname'}}
      {{> afQuickField name="code"}}
      <!-- {{> afQuickField name='code' rows=6}} -->
      {{> afQuickField name='input_ports' template="bootstrap3-inline"}}
      {{> afQuickField name='output_ports' template="bootstrap3-inline"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
  {{/autoForm}}
  <!-- {{> quickForm collection="Duks" doc=this id="dukEdit" type="update"}} -->
</template>
