div#login-buttons.login-buttons-dropdown-align-right{
	font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
	font-size: 15px;
	padding-top: 17px;
}

/*div#login-buttons.login-buttons-dropdown-align-right div.login-link-and-dropdown-list*/
ul.notifications{
	right: 60px;
	top: 50px;
}

.label{
	font-size: 14px;  /*Need to overwrite this here, because bootstrap interferes with jointjs styles otherwise*/
	font-weight: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.panel{  /* Overwrite the panel settings for the jointjs inpoit and output_ports */ 
	width: 250px;
	float: left;
}

.panel + .panel{   /*Overwrite the panel settings for the jointjs inpoit and output_ports  */
	margin-left: 20px;
}