<template name="frontpage">
  <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>DUKTio</h1>
      <p>Scripts for mass IoT, mass customization, open data, and much more.</p>
      <p>DUKTio gives you the power to connect data providers, services, custom logic and scripts, all under one hood.</p>
      <p>Ps: if signin isn't working, click <a href="www.dukt.io"> here</a>.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="http://paularmand.gitbooks.io/dukt-io-getting-started/content/" role="button">Read the documentation</a>
      </p>
    </div>
  </div> <!-- /container -->
</template>
